
from{
    width: 300px;
     border-radius: 12px;
      background: transparent;
       box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
         padding: 40px;
          max-width: 500px;
  width: 100%;
   display: flex;
  flex-direction: column;
}
input{
      margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #8d8c8c;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
}


.return,.forget{
    color: black;
     cursor: pointer;
     transition: background-color 0.3s ease; /* Transition douce */
}
.return,.forget:hover{
    color: #ff5722;
   
   
}